body 
{
    margin: 0;
    padding: 0;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.quake-info {
    position: absolute;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
}