@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
    --light-one: #fff;
    --dark-one: #000;
    --blue-one: #1e90ff;
    --blue-two: #1e80ff;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue-one);
}

input, button
{
    border: none;
}

input
{
    outline: none;
}

button
{
    background-color: var(--blue-one);
}

button:hover
{
    background-color: var(--blue-two);
}

.overlay
{
    position: absolute;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    z-index: 8999;
    color: var(--light-one);
    background-color: var(--dark-one);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
}

#full-menu section, .duration, #magnitude
{
    margin: 0.3rem 0;
}

#full-menu section
{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#full-menu section div > *
{
    display: inline-flex;
    user-select: none;
}

#toggle-menu, #full-menu section div > *, #submit, #close
{
    cursor: pointer;
}

#day, #month, #year
{
    color: var(--light-one);
    background-color: var(--dark-one);
}

#day
{
    width: 2.3rem;
}

#month
{
    width: 2.5rem;
}

#year
{
    width: 3.3rem;
}

#magnitude
{
    width: 5rem;
    outline: none;
    border: none;
    color: var(--light-one);
    background-color: var(--dark-one);
}

#submit
{
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    border-radius: 1.2rem;
}

#close
{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.active
{
    display: block;
}

.inactive
{
    display: none;
}

.popup 
{
    background-color: var(--light-one);
    max-width: 10rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
}

.popup-mag 
{
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.popup-text 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info
{
    position: absolute;
    right: 0;
    z-index: 8999;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#info a
{
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--light-one);
    opacity: 0.7;
    text-decoration: none;
}