@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
    --theme-one: #fff;
    --theme-two: #000;
    --theme-two: #424242;
    --blue-one: #1e90ff;
    --blue-two: #1e80ff;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue-one);
}

input, button
{
    border: none;
}

input
{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}

input[type=number] 
{
    -moz-appearance: textfield;
}

button
{
    background-color: var(--blue-one);
}

button:hover
{
    background-color: var(--blue-two);
}

hr
{
    border: 1.2px solid var(--theme-two);
}

#menu, #start-date, #end-date, #min-mag, #max-mag
{
    color: var(--theme-one);
    background-color: var(--theme-two);
}

.overlay
{
    position: absolute;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    z-index: 8999;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
}

#full-menu section, .duration, #min-mag, #max-mag
{
    margin: 0.3rem 0;
}

#full-menu section
{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#full-menu section div > *
{
    display: inline-flex;
    user-select: none;
}

#toggle-menu, #full-menu section div > *, #submit, #close
{
    cursor: pointer;
}

#start-date, #end-date
{
    width: 8.2rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.magnitude
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#min-mag, #max-mag
{
    width: 2rem;
    border: none;
}

#submit
{
    height: 2rem;
    width: 7rem;
    margin-left: 1rem;
    border-radius: 1.2rem;
}

#close
{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.active
{
    display: block;
}

.inactive
{
    display: none;
}

.popup 
{
    max-width: 10rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
}

.popup-mag 
{
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.popup-text 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info
{
    position: absolute;
    right: 0;
    z-index: 8999;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#info a
{
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--theme-one);
    opacity: 0.7;
    text-decoration: none;
}